/* css index.html */
{
    box-sizing: border-box;
 }

 .topnav div {
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}

 body {
    margin: 0;
 }

.topnav a {
   color: white;
   letter-spacing: 2px;
   text-decoration: underline;
   background: black;
   padding: 15px;
   display: block;
   width: 100%;
   text-align: center;
   text-align-last: center;
}

a:hover {
   background: gray;
}

.topnav {
   max-width: none;

}

.navigation ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.navigation li {
   flex: 3;
}
@media all and (max-width: 600px) {
   .navigation ul {
      flex-wrap: wrap;
   }
}

@media all and (max-width: 600px) {
   .navigation li {
      flex-basis: 100%;
   }
 }


#Animation {
  width: 500px;
  height: 500px;
  background: url(Billeder/tegning.png);
  animation: play 1s steps(6) infinite;
}
@keyframes play {
  0%{background-position: 0px;}
  100%{background-position: -3000px;}

}
